@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-900 text-slate-100 min-h-screen antialiased;
}

a {
  @apply text-blue-400 hover:text-blue-300 transition;
}

main {
  @apply max-w-5xl mx-auto px-4 py-12;
}
